

VERSION 6.1

##############################################################################
# General simulation properties                                               
##############################################################################

EXPERIMENT-NAME         AllFilterCheck
SIMULATION-TIME   5M

SEED   1
COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (1500, 1500)

##############################################################################
# Weather/Environment                                                         
##############################################################################

##############################################################################
# Topology                                                                    
##############################################################################

LINK-BANDWIDTH              112000

LINK-PROPAGATION-DELAY      50MS
LINK N8-192.0.0.0 { 1, 2 }
[ 192.0.0.1 192.0.0.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.0.1 192.0.0.2 ] LINK-PHY-TYPE WIRED
[ 192.0.0.1 192.0.0.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.0.1 192.0.0.2 ] LINK-BANDWIDTH 10000000
[ 192.0.0.1 192.0.0.2 ] NETWORK-PROTOCOL IP
[ 192.0.0.1 192.0.0.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.0.1 192.0.0.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.1.0 { 2, 3 }
[ 192.0.1.1 192.0.1.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.1.1 192.0.1.2 ] LINK-PHY-TYPE WIRED
[ 192.0.1.1 192.0.1.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.1.1 192.0.1.2 ] LINK-BANDWIDTH 10000000
[ 192.0.1.1 192.0.1.2 ] NETWORK-PROTOCOL IP
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.2.0 { 2, 4 }
[ 192.0.2.1 192.0.2.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.2.1 192.0.2.2 ] LINK-PHY-TYPE WIRED
[ 192.0.2.1 192.0.2.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.2.1 192.0.2.2 ] LINK-BANDWIDTH 10000000
[ 192.0.2.1 192.0.2.2 ] NETWORK-PROTOCOL IP
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.3.0 { 4, 5 }
[ 192.0.3.1 192.0.3.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.3.1 192.0.3.2 ] LINK-PHY-TYPE WIRED
[ 192.0.3.1 192.0.3.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.3.1 192.0.3.2 ] LINK-BANDWIDTH 10000000
[ 192.0.3.1 192.0.3.2 ] NETWORK-PROTOCOL IP
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.4.0 { 5, 6 }
[ 192.0.4.1 192.0.4.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.4.1 192.0.4.2 ] LINK-PHY-TYPE WIRED
[ 192.0.4.1 192.0.4.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.4.1 192.0.4.2 ] LINK-BANDWIDTH 10000000
[ 192.0.4.1 192.0.4.2 ] NETWORK-PROTOCOL IP
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.5.0 { 5, 7 }
[ 192.0.5.1 192.0.5.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.5.1 192.0.5.2 ] LINK-PHY-TYPE WIRED
[ 192.0.5.1 192.0.5.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.5.1 192.0.5.2 ] LINK-BANDWIDTH 10000000
[ 192.0.5.1 192.0.5.2 ] NETWORK-PROTOCOL IP
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.12.0 { 2, 9 }
[ 192.0.12.1 192.0.12.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.12.1 192.0.12.2 ] LINK-PHY-TYPE WIRED
[ 192.0.12.1 192.0.12.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.12.1 192.0.12.2 ] LINK-BANDWIDTH 10000000
[ 192.0.12.1 192.0.12.2 ] NETWORK-PROTOCOL IP
[ 192.0.12.1 192.0.12.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.12.1 192.0.12.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.6.0 { 8, 9 }
[ 192.0.6.1 192.0.6.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.6.1 192.0.6.2 ] LINK-PHY-TYPE WIRED
[ 192.0.6.1 192.0.6.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.6.1 192.0.6.2 ] LINK-BANDWIDTH 10000000
[ 192.0.6.1 192.0.6.2 ] NETWORK-PROTOCOL IP
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.7.0 { 9, 11 }
[ 192.0.7.1 192.0.7.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.7.1 192.0.7.2 ] LINK-PHY-TYPE WIRED
[ 192.0.7.1 192.0.7.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.7.1 192.0.7.2 ] LINK-BANDWIDTH 10000000
[ 192.0.7.1 192.0.7.2 ] NETWORK-PROTOCOL IP
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.8.0 { 10, 9 }
[ 192.0.8.1 192.0.8.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.8.1 192.0.8.2 ] LINK-PHY-TYPE WIRED
[ 192.0.8.1 192.0.8.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.8.1 192.0.8.2 ] LINK-BANDWIDTH 10000000
[ 192.0.8.1 192.0.8.2 ] NETWORK-PROTOCOL IP
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.9.0 { 11, 12 }
[ 192.0.9.1 192.0.9.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.9.1 192.0.9.2 ] LINK-PHY-TYPE WIRED
[ 192.0.9.1 192.0.9.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.9.1 192.0.9.2 ] LINK-BANDWIDTH 10000000
[ 192.0.9.1 192.0.9.2 ] NETWORK-PROTOCOL IP
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.10.0 { 12, 13 }
[ 192.0.10.1 192.0.10.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.10.1 192.0.10.2 ] LINK-PHY-TYPE WIRED
[ 192.0.10.1 192.0.10.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.10.1 192.0.10.2 ] LINK-BANDWIDTH 10000000
[ 192.0.10.1 192.0.10.2 ] NETWORK-PROTOCOL IP
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.11.0 { 12, 14 }
[ 192.0.11.1 192.0.11.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.11.1 192.0.11.2 ] LINK-PHY-TYPE WIRED
[ 192.0.11.1 192.0.11.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.11.1 192.0.11.2 ] LINK-BANDWIDTH 10000000
[ 192.0.11.1 192.0.11.2 ] NETWORK-PROTOCOL IP
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-TAGGING NO
NODE-PLACEMENT   UNIFORM
MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

##############################################################################
# Channel properties                                                          
##############################################################################

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 
#PROPAGATION-CHANNEL-FREQUENCY[0] 2.4e9 

PROPAGATION-LIMIT   -111.0

PROPAGATION-PATHLOSS-MODEL  TWO-RAY

PROPAGATION-SHADOWING-MODEL CONSTANT
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL NONE

##############################################################################
# Phy layer                                                                   
##############################################################################

########################################
PHY-MODEL                   PHY802.11b
PHY802.11-USE-LEGACY-802.11b YES
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK  1
PHY-TEMPERATURE             290

PHY-NOISE-FACTOR            7.0
PHY-RX-MODEL                PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE                2000000
PHY802.11-DATA-RATE-FOR-BROADCAST  2000000
PHY802.11-TX-POWER-6MBPS  20.0
PHY802.11-TX-POWER-9MBPS  20.0
PHY802.11-TX-POWER-12MBPS  19.0
PHY802.11-TX-POWER-18MBPS  19.0
PHY802.11-TX-POWER-24MBPS  18.0
PHY802.11-TX-POWER-36MBPS  18.0
PHY802.11-TX-POWER-48MBPS  16.0
PHY802.11-TX-POWER-54MBPS  16.0

PHY802.11-TX-POWER-1MBPS  15.0
PHY802.11-TX-POWER-2MBPS  15.0
PHY802.11-TX-POWER-5.5MBPS  15.0
PHY802.11-TX-POWER-11MBPS  15.0

PHY802.11-RX-SENSITIVITY-6MBPS  -85.0
PHY802.11-RX-SENSITIVITY-9MBPS  -85.0
PHY802.11-RX-SENSITIVITY-12MBPS  -83.0
PHY802.11-RX-SENSITIVITY-18MBPS  -83.0
PHY802.11-RX-SENSITIVITY-24MBPS  -78.0
PHY802.11-RX-SENSITIVITY-36MBPS  -78.0
PHY802.11-RX-SENSITIVITY-48MBPS  -69.0
PHY802.11-RX-SENSITIVITY-54MBPS  -69.0

PHY802.11-RX-SENSITIVITY-1MBPS  -93.0
PHY802.11-RX-SENSITIVITY-2MBPS  -89.0
PHY802.11-RX-SENSITIVITY-5.5MBPS  -87.0
PHY802.11-RX-SENSITIVITY-11MBPS  -83.0
##############################################################

##############################################################

ANTENNA-GAIN             0.0
ANTENNA-EFFICIENCY       0.8
ANTENNA-MISMATCH-LOSS    0.3
ANTENNA-CABLE-LOSS       0.0
ANTENNA-CONNECTION-LOSS  0.2

ANTENNA-HEIGHT  1.5
ANTENNA-MODEL   OMNIDIRECTIONAL
##############################################################################
# MPLS Configuration                                                          
##############################################################################
# of the LSP will 

##############################################################################
# MAC layer                                                                   
##############################################################################

##############################################################################
MAC-PROTOCOL MACDOT11

MAC-DOT11-ASSOCIATION    NONE
PROMISCUOUS-MODE   YES

##############################################################################
# Link-11 Configuration                                                       
##############################################################################
##############################################################################
# Link-16 Configuration                                                       
##############################################################################
############################################################################
# Detailed Switch Model                                                     
############################################################################

##############################################################################
# Network layer                                                               
##############################################################################
NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3

IP-QUEUE-PRIORITY-QUEUE-SIZE   50000

IP-QUEUE-TYPE   FIFO

GREEN-PROFILE-MIN-THRESHOLD        10
GREEN-PROFILE-MAX-THRESHOLD        20
GREEN-PROFILE-MAX-PROBABILITY      0.02
YELLOW-PROFILE-MIN-THRESHOLD       5
YELLOW-PROFILE-MAX-THRESHOLD       10
YELLOW-PROFILE-MAX-PROBABILITY     0.02
RED-PROFILE-MIN-THRESHOLD          2
RED-PROFILE-MAX-THRESHOLD          5
RED-PROFILE-MAX-PROBABILITY        0.02
IP-QUEUE-SCHEDULER   STRICT-PRIORITY

##############################################################################
# Routing - forwarding, static, default routes                                
##############################################################################

IP-FORWARDING YES
##############################################################################
# Unicast routing - wireless ad hoc                                           
##############################################################################
##############################################################################
# Unicast routing - wired                                                     
##############################################################################
ROUTING-PROTOCOL   OSPFv2

##############################################################################
# Unicast routing - mixed networks                                            
##############################################################################

##############################################################################
# Multicast Routing - wireless                                                
##############################################################################

##############################################################################
# Multicast Routing - wired                                                   
##############################################################################

[ 2 4 5 ] MULTICAST-PROTOCOL PIM
[ 2 4 5 ] PIM-ROUTING-MODE SPARSE
[2] PIM-SM-CANDIDATE-RP YES
[2] MULTICAST-MSDP-ENABLED YES
[2] MULTICAST-MSDP-HOLDTIME-PERIOD 70S
[2] MULTICAST-MSDP-SG-STATE-PERIOD 140S 
[2] MULTICAST-MSDP-KEEPALIVE-PERIOD 60S
[2] MULTICAST-MSDP-CONNECT-RETRY-PERIOD 30S

[4] MULTICAST-MSDP-ENABLED YES
[4] MULTICAST-MSDP-HOLDTIME-PERIOD 70S
[4] MULTICAST-MSDP-SG-STATE-PERIOD 140S 
[4] MULTICAST-MSDP-KEEPALIVE-PERIOD 60S
[4] MULTICAST-MSDP-CONNECT-RETRY-PERIOD 30S

[ 9 11 12 ] MULTICAST-PROTOCOL PIM
[ 9 11 12 ] PIM-ROUTING-MODE SPARSE
[9] PIM-SM-CANDIDATE-RP YES
[9] MULTICAST-MSDP-ENABLED YES
[9] MULTICAST-MSDP-HOLDTIME-PERIOD 70S
[9] MULTICAST-MSDP-SG-STATE-PERIOD 140S 
[9] MULTICAST-MSDP-KEEPALIVE-PERIOD 60S
[9] MULTICAST-MSDP-CONNECT-RETRY-PERIOD 30S

MULTICAST-MSDP-CONFIG-FILE AllFilterCheck.msdp

[192.0.12.1 192.0.12.2] PIM-SM-BORDER-ROUTER YES

GROUP-MANAGEMENT-PROTOCOL  IGMP
IGMP-ROUTER-LIST           {5 12}
MULTICAST-GROUP-FILE    AllFilterCheck.member
ROUTER-CONFIG-FILE AllFilterCheck.router-config

##############################################################################
# Routing - Quality Of Service                                                
##############################################################################
##############################################################################
# IPSec - IP Security Protocol                                                
##############################################################################
##############################################################################
# Routing - exterior gateway protocol                                         
##############################################################################

############################################################################
# Configuration for Access list ( standard, extended, reflexive )           
############################################################################

##############################################################################
# Transport layer                                                             
##############################################################################

#                 "
##############################################################################
# Application layer                                                           
##############################################################################
APP-CONFIG-FILE   AllFilterCheck.app
##############################################################################

##############################################################################
##############################################################################
# ATM Configuration                                                           
##############################################################################
##############################################################################
# ATM-IP Interaction Configuration                                                           
##############################################################################
##############################################################################
# Scheduler                                                                   
##############################################################################
SCHEDULER-QUEUE-TYPE            SPLAYTREE

##############################################################################
# Statistics                                                                  
##############################################################################
HOST-STATISTICS                         NO
APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ACCESS-LIST-STATISTICS                  NO
ROUTE-REDISTRIBUTION-STATISTICS         NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                NO
DIFFSERV-EDGE-ROUTER-STATISTICS         NO
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO
MULTICAST-MSDP-STATISTICS               YES
###########################################################################

###########################################################################
##############################################################################
# Tracer                                                                      
##############################################################################
##############################################################################
# GUI Options                                                                 
##############################################################################

###########################################################################

############################################################################
BGP-CONFIG-FILE         ./AllFilterCheck.bgp
EXTERIOR-GATEWAY-PROTOCOL BGPv4
[2]  AS-BOUNDARY-ROUTER  YES
[9]  AS-BOUNDARY-ROUTER  YES
[192.0.12.1 192.0.12.2] ROUTING-PROTOCOL NONE

IP-FRAGMENTATION-UNIT 1500
ICMP YES

DEFAULT-ROUTE YES
DEFAULT-ROUTE-FILE AllFilterCheck.routes-default