

VERSION 6.1

EXPERIMENT-NAME         MultiASPeerRPFCheckDefaultPeer
SIMULATION-TIME   60M

SEED   1
COORDINATE-SYSTEM    CARTESIAN

TERRAIN-DIMENSIONS   (1500, 1500)

LINK-BANDWIDTH              112000

LINK-PROPAGATION-DELAY      50MS
LINK N8-192.0.0.0 { 1, 2 }
[ 192.0.0.1 192.0.0.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.0.1 192.0.0.2 ] LINK-PHY-TYPE WIRED
[ 192.0.0.1 192.0.0.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.0.1 192.0.0.2 ] LINK-BANDWIDTH 10000000
[ 192.0.0.1 192.0.0.2 ] NETWORK-PROTOCOL IP
[ 192.0.0.1 192.0.0.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.0.1 192.0.0.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.1.0 { 2, 3 }
[ 192.0.1.1 192.0.1.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.1.1 192.0.1.2 ] LINK-PHY-TYPE WIRED
[ 192.0.1.1 192.0.1.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.1.1 192.0.1.2 ] LINK-BANDWIDTH 10000000
[ 192.0.1.1 192.0.1.2 ] NETWORK-PROTOCOL IP
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.1.1 192.0.1.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.2.0 { 2, 4 }
[ 192.0.2.1 192.0.2.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.2.1 192.0.2.2 ] LINK-PHY-TYPE WIRED
[ 192.0.2.1 192.0.2.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.2.1 192.0.2.2 ] LINK-BANDWIDTH 10000000
[ 192.0.2.1 192.0.2.2 ] NETWORK-PROTOCOL IP
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.2.1 192.0.2.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.3.0 { 2, 5 }
[ 192.0.3.1 192.0.3.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.3.1 192.0.3.2 ] LINK-PHY-TYPE WIRED
[ 192.0.3.1 192.0.3.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.3.1 192.0.3.2 ] LINK-BANDWIDTH 10000000
[ 192.0.3.1 192.0.3.2 ] NETWORK-PROTOCOL IP
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.3.1 192.0.3.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.4.0 { 2, 6 }
[ 192.0.4.1 192.0.4.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.4.1 192.0.4.2 ] LINK-PHY-TYPE WIRED
[ 192.0.4.1 192.0.4.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.4.1 192.0.4.2 ] LINK-BANDWIDTH 10000000
[ 192.0.4.1 192.0.4.2 ] NETWORK-PROTOCOL IP
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.4.1 192.0.4.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.5.0 { 3, 7 }
[ 192.0.5.1 192.0.5.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.5.1 192.0.5.2 ] LINK-PHY-TYPE WIRED
[ 192.0.5.1 192.0.5.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.5.1 192.0.5.2 ] LINK-BANDWIDTH 10000000
[ 192.0.5.1 192.0.5.2 ] NETWORK-PROTOCOL IP
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.5.1 192.0.5.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.6.0 { 4, 5 }
[ 192.0.6.1 192.0.6.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.6.1 192.0.6.2 ] LINK-PHY-TYPE WIRED
[ 192.0.6.1 192.0.6.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.6.1 192.0.6.2 ] LINK-BANDWIDTH 10000000
[ 192.0.6.1 192.0.6.2 ] NETWORK-PROTOCOL IP
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.6.1 192.0.6.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.7.0 { 5, 6 }
[ 192.0.7.1 192.0.7.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.7.1 192.0.7.2 ] LINK-PHY-TYPE WIRED
[ 192.0.7.1 192.0.7.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.7.1 192.0.7.2 ] LINK-BANDWIDTH 10000000
[ 192.0.7.1 192.0.7.2 ] NETWORK-PROTOCOL IP
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.7.1 192.0.7.2 ] SWITCH-STATION-VLAN-TAGGING NO
LINK N8-192.0.8.0 { 4, 9 }
[ 192.0.8.1 192.0.8.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.8.1 192.0.8.2 ] LINK-PHY-TYPE WIRED
[ 192.0.8.1 192.0.8.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.8.1 192.0.8.2 ] LINK-BANDWIDTH 10000000
[ 192.0.8.1 192.0.8.2 ] NETWORK-PROTOCOL IP
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.8.1 192.0.8.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.9.0 { 5, 9 }
[ 192.0.9.1 192.0.9.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.9.1 192.0.9.2 ] LINK-PHY-TYPE WIRED
[ 192.0.9.1 192.0.9.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.9.1 192.0.9.2 ] LINK-BANDWIDTH 10000000
[ 192.0.9.1 192.0.9.2 ] NETWORK-PROTOCOL IP
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.9.1 192.0.9.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.10.0 { 6, 9 }
[ 192.0.10.1 192.0.10.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.10.1 192.0.10.2 ] LINK-PHY-TYPE WIRED
[ 192.0.10.1 192.0.10.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.10.1 192.0.10.2 ] LINK-BANDWIDTH 10000000
[ 192.0.10.1 192.0.10.2 ] NETWORK-PROTOCOL IP
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.10.1 192.0.10.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.11.0 { 8, 7 }
[ 192.0.11.1 192.0.11.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.11.1 192.0.11.2 ] LINK-PHY-TYPE WIRED
[ 192.0.11.1 192.0.11.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.11.1 192.0.11.2 ] LINK-BANDWIDTH 10000000
[ 192.0.11.1 192.0.11.2 ] NETWORK-PROTOCOL IP
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.11.1 192.0.11.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.12.0 { 7, 13 }
[ 192.0.12.1 192.0.12.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.12.1 192.0.12.2 ] LINK-PHY-TYPE WIRED
[ 192.0.12.1 192.0.12.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.12.1 192.0.12.2 ] LINK-BANDWIDTH 10000000
[ 192.0.12.1 192.0.12.2 ] NETWORK-PROTOCOL IP
[ 192.0.12.1 192.0.12.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.12.1 192.0.12.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.13.0 { 9, 10 }
[ 192.0.13.1 192.0.13.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.13.1 192.0.13.2 ] LINK-PHY-TYPE WIRED
[ 192.0.13.1 192.0.13.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.13.1 192.0.13.2 ] LINK-BANDWIDTH 10000000
[ 192.0.13.1 192.0.13.2 ] NETWORK-PROTOCOL IP
[ 192.0.13.1 192.0.13.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.13.1 192.0.13.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.14.0 { 10, 11 }
[ 192.0.14.1 192.0.14.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.14.1 192.0.14.2 ] LINK-PHY-TYPE WIRED
[ 192.0.14.1 192.0.14.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.14.1 192.0.14.2 ] LINK-BANDWIDTH 10000000
[ 192.0.14.1 192.0.14.2 ] NETWORK-PROTOCOL IP
[ 192.0.14.1 192.0.14.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.14.1 192.0.14.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.15.0 { 10, 12 }
[ 192.0.15.1 192.0.15.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.15.1 192.0.15.2 ] LINK-PHY-TYPE WIRED
[ 192.0.15.1 192.0.15.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.15.1 192.0.15.2 ] LINK-BANDWIDTH 10000000
[ 192.0.15.1 192.0.15.2 ] NETWORK-PROTOCOL IP
[ 192.0.15.1 192.0.15.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.15.1 192.0.15.2 ] SWITCH-STATION-VLAN-TAGGING NO

LINK N8-192.0.16.0 { 13, 9 }
[ 192.0.16.1 192.0.16.2 ] LINK-MAC-PROTOCOL ABSTRACT
[ 192.0.16.1 192.0.16.2 ] LINK-PHY-TYPE WIRED
[ 192.0.16.1 192.0.16.2 ] LINK-PROPAGATION-DELAY 1MS
[ 192.0.16.1 192.0.16.2 ] LINK-BANDWIDTH 10000000
[ 192.0.16.1 192.0.16.2 ] NETWORK-PROTOCOL IP
[ 192.0.16.1 192.0.16.2 ] SWITCH-STATION-VLAN-ID 0
[ 192.0.16.1 192.0.16.2 ] SWITCH-STATION-VLAN-TAGGING NO

NODE-PLACEMENT   UNIFORM
MOBILITY   NONE
MOBILITY-POSITION-GRANULARITY   1.0

PROPAGATION-CHANNEL-FREQUENCY 2.4e9 
PROPAGATION-LIMIT   -111.0

PROPAGATION-PATHLOSS-MODEL  TWO-RAY

PROPAGATION-SHADOWING-MODEL CONSTANT
PROPAGATION-SHADOWING-MEAN 4.0
PROPAGATION-FADING-MODEL NONE
PHY-MODEL                   PHY802.11b
PHY802.11-USE-LEGACY-802.11b YES
PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK  1
PHY-TEMPERATURE             290

PHY-NOISE-FACTOR            7.0
PHY-RX-MODEL                PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE                2000000
PHY802.11-DATA-RATE-FOR-BROADCAST  2000000
PHY802.11-TX-POWER-6MBPS  20.0
PHY802.11-TX-POWER-9MBPS  20.0
PHY802.11-TX-POWER-12MBPS  19.0
PHY802.11-TX-POWER-18MBPS  19.0
PHY802.11-TX-POWER-24MBPS  18.0
PHY802.11-TX-POWER-36MBPS  18.0
PHY802.11-TX-POWER-48MBPS  16.0
PHY802.11-TX-POWER-54MBPS  16.0

PHY802.11-TX-POWER-1MBPS  15.0
PHY802.11-TX-POWER-2MBPS  15.0
PHY802.11-TX-POWER-5.5MBPS  15.0
PHY802.11-TX-POWER-11MBPS  15.0

PHY802.11-RX-SENSITIVITY-6MBPS  -85.0
PHY802.11-RX-SENSITIVITY-9MBPS  -85.0
PHY802.11-RX-SENSITIVITY-12MBPS  -83.0
PHY802.11-RX-SENSITIVITY-18MBPS  -83.0
PHY802.11-RX-SENSITIVITY-24MBPS  -78.0
PHY802.11-RX-SENSITIVITY-36MBPS  -78.0
PHY802.11-RX-SENSITIVITY-48MBPS  -69.0
PHY802.11-RX-SENSITIVITY-54MBPS  -69.0

PHY802.11-RX-SENSITIVITY-1MBPS  -93.0
PHY802.11-RX-SENSITIVITY-2MBPS  -89.0
PHY802.11-RX-SENSITIVITY-5.5MBPS  -87.0
PHY802.11-RX-SENSITIVITY-11MBPS  -83.0
ANTENNA-GAIN             0.0
ANTENNA-EFFICIENCY       0.8
ANTENNA-MISMATCH-LOSS    0.3
ANTENNA-CABLE-LOSS       0.0
ANTENNA-CONNECTION-LOSS  0.2

ANTENNA-HEIGHT  1.5
ANTENNA-MODEL   OMNIDIRECTIONAL
MAC-PROTOCOL MACDOT11

MAC-DOT11-ASSOCIATION    NONE
PROMISCUOUS-MODE   YES
NETWORK-PROTOCOL   IP
IP-QUEUE-NUM-PRIORITIES   3

IP-QUEUE-PRIORITY-QUEUE-SIZE   50000

IP-QUEUE-TYPE   FIFO

GREEN-PROFILE-MIN-THRESHOLD        10
GREEN-PROFILE-MAX-THRESHOLD        20
GREEN-PROFILE-MAX-PROBABILITY      0.02
YELLOW-PROFILE-MIN-THRESHOLD       5
YELLOW-PROFILE-MAX-THRESHOLD       10
YELLOW-PROFILE-MAX-PROBABILITY     0.02
RED-PROFILE-MIN-THRESHOLD          2
RED-PROFILE-MAX-THRESHOLD          5
RED-PROFILE-MAX-PROBABILITY        0.02
IP-QUEUE-SCHEDULER   STRICT-PRIORITY

IP-FORWARDING YES
ROUTING-PROTOCOL   BELLMANFORD

[ 2 thru 7 ] MULTICAST-PROTOCOL PIM
[ 2 thru 7 ] PIM-ROUTING-MODE SPARSE
[ 9 thru 10 ] MULTICAST-PROTOCOL PIM
[ 9 thru 10 ] PIM-ROUTING-MODE SPARSE
[13] MULTICAST-PROTOCOL PIM
[13] PIM-ROUTING-MODE SPARSE

[2 4 7 9 13] PIM-SM-CANDIDATE-RP YES

[2 4 5 6 7 9 13]  MULTICAST-MSDP-ENABLED YES
[2 4 5 6 7 9 13] MULTICAST-MSDP-HOLDTIME-PERIOD 70S
[2 4 5 6 7 9 13] MULTICAST-MSDP-SG-STATE-PERIOD 140S 
[2 4 5 6 7 9 13] MULTICAST-MSDP-KEEPALIVE-PERIOD 60S
[2 4 5 6 7 9 13] MULTICAST-MSDP-CONNECT-RETRY-PERIOD 30S

MULTICAST-MSDP-CONFIG-FILE MultiASPeerRPFCheckDefaultPeer.msdp
ROUTER-CONFIG-FILE MultiASPeerRPFCheckDefaultPeer.router-config

[192.0.2.1 192.0.2.2] PIM-SM-BORDER-ROUTER YES
[192.0.3.1 192.0.3.2] PIM-SM-BORDER-ROUTER YES
[192.0.4.1 192.0.4.2] PIM-SM-BORDER-ROUTER YES
[192.0.5.1 192.0.5.2] PIM-SM-BORDER-ROUTER YES
[192.0.8.1 192.0.8.2] PIM-SM-BORDER-ROUTER YES
[192.0.9.1 192.0.9.2] PIM-SM-BORDER-ROUTER YES
[192.0.10.1 192.0.10.2] PIM-SM-BORDER-ROUTER YES
[192.0.12.1 192.0.12.2] PIM-SM-BORDER-ROUTER YES
[192.0.16.1 192.0.16.2] PIM-SM-BORDER-ROUTER YES

GROUP-MANAGEMENT-PROTOCOL  IGMP
IGMP-ROUTER-LIST           {2 5 7 12 13 10}
MULTICAST-GROUP-FILE MultiASPeerRPFCheckDefaultPeer.member

APP-CONFIG-FILE MultiASPeerRPFCheckDefaultPeer.app
SCHEDULER-QUEUE-TYPE            SPLAYTREE

HOST-STATISTICS                         NO
APPLICATION-STATISTICS                  YES
TCP-STATISTICS                          NO
UDP-STATISTICS                          NO
RSVP-STATISTICS                         NO
ROUTING-STATISTICS                      YES
ACCESS-LIST-STATISTICS                  NO
ROUTE-REDISTRIBUTION-STATISTICS         NO
IGMP-STATISTICS                         NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS    NO
NETWORK-LAYER-STATISTICS                NO
DIFFSERV-EDGE-ROUTER-STATISTICS         NO
QUEUE-STATISTICS                        NO
MAC-LAYER-STATISTICS                    NO
PHY-LAYER-STATISTICS                    NO
MULTICAST-MSDP-STATISTICS               YES

EXTERIOR-GATEWAY-PROTOCOL BGPv4
BGP-CONFIG-FILE         ./MultiASPeerRPFCheckDefaultPeer.bgp


[N8-192.0.2.0] ROUTING-PROTOCOL NONE
[N8-192.0.3.0] ROUTING-PROTOCOL NONE
[N8-192.0.4.0] ROUTING-PROTOCOL NONE
[N8-192.0.5.0] ROUTING-PROTOCOL NONE
[N8-192.0.8.0] ROUTING-PROTOCOL NONE
[N8-192.0.9.0] ROUTING-PROTOCOL NONE
[N8-192.0.10.0] ROUTING-PROTOCOL NONE
[N8-192.0.12.0] ROUTING-PROTOCOL NONE
[N8-192.0.16.0] ROUTING-PROTOCOL NONE
