# Copyright (c) 2001-2015, SCALABLE Network Technologies, Inc.  All Rights Reserved.
#                          600 Corporate Pointe
#                          Suite 1200
#                          Culver City, CA 90230
#                          info@scalable-networks.com
#
# This source code is licensed, not sold, and is subject to a written
# license agreement.  Among other things, no portion of this source
# code may be copied, transmitted, disclosed, displayed, distributed,
# translated, used as the basis for a derivative work, or used, in
# whole or in part, for any program or purpose other than its intended
# use in compliance with the license agreement as part of the QualNet
# software.  This source code and certain of the algorithms contained
# within it are confidential trade secrets of Scalable Network
# Technologies, Inc. and may not be used as the basis for any other
# software, hardware, product or service.

# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 15.07
EXPERIMENT-NAME wave-priorities-simulation
EXPERIMENT-COMMENT None
SIMULATION-TIME 30S
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
DUMMY-ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
DUMMY-ALTITUDES (1500, 0)
DUMMY-ENABLE-URBAN-TERRAIN-FEATURE NO
WEATHER-MOBILITY-INTERVAL 100MS

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
NODE-POSITION-FILE wave-priorities-simulation.nodes
MOBILITY NONE
MOBILITY-GROUND-NODE NO
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0


#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
RSVP-STATISTICS NO
SRM-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
MOBILITY-STATISTICS NO
CELLULAR-STATISTICS NO
GSM-STATISTICS NO
SIGNALLING-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ATM-SCHEDULER-STATISTICS YES
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#***********************HLA Interface***********************************

HLA NO
HLA-DYNAMIC-STATISTICS NO

#***********************DIS Interface***********************************

DIS NO
DIS-DYNAMIC-STATISTICS NO

#***********************STK Interface***********************************

STK-ENABLED NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-USE-LEGACY-802.11b YES
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-RX-SENSITIVITY-1MBPS -94.0
PHY802.11-RX-SENSITIVITY-2MBPS -91.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -87.0
PHY802.11-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-MODEL OMNIDIRECTIONAL
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE
LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US
LLC-ENABLED NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP NO
IPv6-ENABLE-6to4-TUNNELING NO

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
QUEUE-WEIGHT 0
IP-QUEUE-TYPE FIFO

#********************Network Security***********************************

IPSEC-ENABLED NO
ISAKMP-SERVER NO
CERTIFICATE-ENABLED NO
EAVESDROP-ENABLED NO
AUDIT-ENABLED NO
SYNCHRONIZATION YES

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL NONE
STATIC-ROUTE YES
STATIC-ROUTE-FILE wave-priorities-simulation.routes-static
DEFAULT-ROUTE NO
DUMMY-GATEWAY-CONFIGURATION NO
HSRP-PROTOCOL NO
DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 25M
ATM-CONNECTION-TIMEOUT-TIME 2M
ADAPTATION-LAYER-STATISTICS NO
SIGNALLING-STATISTICS NO

#***************** [Wireless Subnet] ***********************************

SUBNET N8-192.0.1.0 {1 thru 10} 366.079 787.034 0

#**********************Physical Layer***********************************

[ N8-192.0.1.0 ] PHY-MODEL PHY802.11pCCH
[ N8-192.0.1.0 ] PHY802.11-DATA-RATE 6000000
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-3MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-4.5MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-6MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-9MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-12MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-18MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-24MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-TX-POWER-27MBPS 28.8
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-3MBPS -85.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-4.5MBPS -84.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-6MBPS -82.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-9MBPS -80.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-12MBPS -77.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-18MBPS -70.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-24MBPS -69.0
[ N8-192.0.1.0 ] PHY802.11-RX-SENSITIVITY-27MBPS -67.0
[ N8-192.0.1.0 ] PHY-RX-MODEL PHY802.11pCCH
[ N8-192.0.1.0 ] ANTENNA-GAIN 0.0
[ N8-192.0.1.0 ] ANTENNA-HEIGHT 1.5
[ N8-192.0.1.0 ] ANTENNA-EFFICIENCY 0.8
[ N8-192.0.1.0 ] ANTENNA-MISMATCH-LOSS 0.3
[ N8-192.0.1.0 ] ANTENNA-CABLE-LOSS 0.0
[ N8-192.0.1.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
#***************************MAC Layer***********************************

[ N8-192.0.1.0 ] MAC-PROTOCOL MACDOT11p
[ N8-192.0.1.0 ] MAC-802.11-GUARD-INTERVAL-DURATION 4MS
[ N8-192.0.1.0 ] MAC-802.11-CCH-INTERVAL-DURATION 50MS
[ N8-192.0.1.0 ] MAC-802.11-SCH-INTERVAL-DURATION 50MS

#***********************NETWORK LAYER***********************************

[ N8-192.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.1.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 150000
[ N8-192.0.1.0 ] QUEUE-WEIGHT[0] 0
[ N8-192.0.1.0 ] IP-QUEUE-TYPE[0] FIFO
[ N8-192.0.1.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 150000
[ N8-192.0.1.0 ] QUEUE-WEIGHT[1] 0
[ N8-192.0.1.0 ] IP-QUEUE-TYPE[1] FIFO
[ N8-192.0.1.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 150000
[ N8-192.0.1.0 ] QUEUE-WEIGHT[2] 0
[ N8-192.0.1.0 ] IP-QUEUE-TYPE[2] FIFO



#********* [Default Wireless Subnet] ***********************************


#***************** [Wireless Subnet] ***********************************

SUBNET N8-192.0.2.0 {1 thru 10} 588.284 806.786 0

#**********************Physical Layer***********************************

[ N8-192.0.2.0 ] PHY-MODEL PHY802.11pSCH
[ N8-192.0.2.0 ] PHY802.11-DATA-RATE 6000000
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-3MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-4.5MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-6MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-9MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-12MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-18MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-24MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-TX-POWER-27MBPS 28.8
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-3MBPS -85.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-4.5MBPS -84.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-6MBPS -82.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-9MBPS -80.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-12MBPS -77.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-18MBPS -70.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-24MBPS -69.0
[ N8-192.0.2.0 ] PHY802.11-RX-SENSITIVITY-27MBPS -67.0
[ N8-192.0.2.0 ] PHY-RX-MODEL PHY802.11pSCH
[ N8-192.0.2.0 ] ANTENNA-GAIN 0.0
[ N8-192.0.2.0 ] ANTENNA-HEIGHT 1.5
[ N8-192.0.2.0 ] ANTENNA-EFFICIENCY 0.8
[ N8-192.0.2.0 ] ANTENNA-MISMATCH-LOSS 0.3
[ N8-192.0.2.0 ] ANTENNA-CABLE-LOSS 0.0
[ N8-192.0.2.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-192.0.2.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-192.0.2.0 ] PHY802.11-10MHz-CHANNEL-INDEX 172

#***************************MAC Layer***********************************

[ N8-192.0.2.0 ] MAC-PROTOCOL MACDOT11p
[ N8-192.0.2.0 ] MAC-802.11-GUARD-INTERVAL-DURATION 4MS
[ N8-192.0.2.0 ] MAC-802.11-CCH-INTERVAL-DURATION 50MS
[ N8-192.0.2.0 ] MAC-802.11-SCH-INTERVAL-DURATION 50MS

#***********************NETWORK LAYER***********************************

[ N8-192.0.2.0 ] NETWORK-PROTOCOL IP
[ N8-192.0.2.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 150000
[ N8-192.0.2.0 ] QUEUE-WEIGHT[0] 0
[ N8-192.0.2.0 ] IP-QUEUE-TYPE[0] FIFO
[ N8-192.0.2.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 150000
[ N8-192.0.2.0 ] QUEUE-WEIGHT[1] 0
[ N8-192.0.2.0 ] IP-QUEUE-TYPE[1] FIFO
[ N8-192.0.2.0 ] IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 150000
[ N8-192.0.2.0 ] QUEUE-WEIGHT[2] 0
[ N8-192.0.2.0 ] IP-QUEUE-TYPE[2] FIFO


[1 thru 20]     NETWORK-PROTOCOL IP
[1 thru 20]     IP-LOOPBACK-ADDRESS 127.0.0.1
[1]             HOSTNAME host1
[2]             HOSTNAME host2
[3]             HOSTNAME host3
[4]             HOSTNAME host4
[5]             HOSTNAME host5
[6]             HOSTNAME host6
[7]             HOSTNAME host7
[8]             HOSTNAME host8
[9]             HOSTNAME host9
[10]            HOSTNAME host10
[11]            HOSTNAME host11
[12]            HOSTNAME host12
[13]            HOSTNAME host13
[14]            HOSTNAME host14
[15]            HOSTNAME host15
[16]            HOSTNAME host16
[17]            HOSTNAME host17
[18]            HOSTNAME host18
[19]            HOSTNAME host19
[20]            HOSTNAME host20
[1 thru 20]     NODE-PLACEMENT FILE
[1 thru 20]     IP-ENABLE-LOOPBACK YES


APP-CONFIG-FILE wave-priorities-simulation.app

