# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 15.07
EXPERIMENT-NAME two_UEs_handover_1
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 10S
SEED 1
GUI-CONFIG-LOCKED NO

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM CARTESIAN
TERRAIN-DIMENSIONS (1500, 1500)
DUMMY-ALTITUDES (1500, 0)
URBAN-TERRAIN-TYPE NONE
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 2400000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-CHANNEL-NAME[1] channel1
PROPAGATION-CHANNEL-FREQUENCY[1] 2400000000
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-FADING-MODEL[1] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[1] NO
PROPAGATION-SPEED[1] 3e8
PROPAGATION-LIMIT[1] -111.0
PROPAGATION-MAX-DISTANCE[1] 0
PROPAGATION-COMMUNICATION-PROXIMITY[1] 400
PROPAGATION-PROFILE-UPDATE-RATIO[1] 0.0
PROPAGATION-CHANNEL-NAME[2] channel2
PROPAGATION-CHANNEL-FREQUENCY[2] 2400000000
PROPAGATION-MODEL[2] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[2] TWO-RAY
PROPAGATION-SHADOWING-MODEL[2] CONSTANT
PROPAGATION-SHADOWING-MEAN[2] 4.0
PROPAGATION-FADING-MODEL[2] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[2] NO
PROPAGATION-SPEED[2] 3e8
PROPAGATION-LIMIT[2] -111.0
PROPAGATION-MAX-DISTANCE[2] 0
PROPAGATION-COMMUNICATION-PROXIMITY[2] 400
PROPAGATION-PROFILE-UPDATE-RATIO[2] 0.0
PROPAGATION-CHANNEL-NAME[3] channel3
PROPAGATION-CHANNEL-FREQUENCY[3] 2400000000
PROPAGATION-MODEL[3] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[3] TWO-RAY
PROPAGATION-SHADOWING-MODEL[3] CONSTANT
PROPAGATION-SHADOWING-MEAN[3] 4.0
PROPAGATION-FADING-MODEL[3] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[3] NO
PROPAGATION-SPEED[3] 3e8
PROPAGATION-LIMIT[3] -111.0
PROPAGATION-MAX-DISTANCE[3] 0
PROPAGATION-COMMUNICATION-PROXIMITY[3] 400
PROPAGATION-PROFILE-UPDATE-RATIO[3] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE two_UEs_handover_1.app
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#***********************DIS Interface***********************************

DIS NO

#***********************HLA Interface***********************************

HLA NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0,channel1,channel2,channel3
PHY-LISTENING-CHANNELS channel0,channel1,channel2,channel3
PHY-MODEL PHY802.11b
PHY802.11-USE-LEGACY-802.11b YES
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-RX-SENSITIVITY-1MBPS -94.0
PHY802.11-RX-SENSITIVITY-2MBPS -91.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -87.0
PHY802.11-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#***********************BGP Router-Id***********************************

BGP-ENABLE-ROUTER-ID NO
BGP-ENABLE-ROUTER-ID_IPv6 YES
BGP ROUTER-ID 127.0.0.1

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO

#******************** [Wired Subnet] ***********************************

SUBNET N8-190.0.2.0 {1 thru 3} 548 987 0
[ N8-190.0.2.0 ] MAC-PROTOCOL MAC802.3
[ N8-190.0.2.0 ] SUBNET-DATA-RATE 100000000
[ N8-190.0.2.0 ] MAC802.3-MODE HALF-DUPLEX
[ N8-190.0.2.0 ] SUBNET-PROPAGATION-DELAY 2.5US
[ N8-190.0.2.0 ] LLC-ENABLED NO
[ N8-190.0.2.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.2.0 ] DUMMY-FIXED-COMMS YES
[ N8-190.0.2.0 ] IS-EPC-SUBNET YES
[ N8-190.0.2.0 ] EPC-SGWMME-NODE-ID 1
[ N8-190.0.2.0 ] EPC-SGWMME-INTERFACE-INDEX 0



#********* [Default Wireless Subnet] ***********************************


#***************** [Wireless Subnet] ***********************************

SUBNET N8-190.0.1.0 {2 thru 5} 524 735 0

#**********************Physical Layer***********************************

[ N8-190.0.1.0 ] PHY-MODEL PHY-LTE
[ N8-190.0.1.0 ] DUMMY-PHY-LTE-STATION-TYPE UE
[ N8-190.0.1.0 ] PHY-LTE-TX-POWER 23
[ N8-190.0.1.0 ] PHY-LTE-NUM-TX-ANTENNAS 1
[ N8-190.0.1.0 ] PHY-LTE-NUM-RX-ANTENNAS 1
[ N8-190.0.1.0 ] PHY-RX-MODEL PHY-LTE
[ N8-190.0.1.0 ] PHY-LTE-CQI-REPORTING-INTERVAL 10
[ N8-190.0.1.0 ] PHY-LTE-CQI-REPORTING-OFFSET 0
[ N8-190.0.1.0 ] PHY-LTE-RI-REPORTING-INTERVAL 10
[ N8-190.0.1.0 ] PHY-LTE-RI-REPORTING-OFFSET 1
[ N8-190.0.1.0 ] PHY-LTE-SRS-TRANSMISSION-INTERVAL 10
[ N8-190.0.1.0 ] PHY-LTE-SRS-TRANSMISSION-OFFSET 0
[ N8-190.0.1.0 ] PHY-LTE-NON-SERVING-CELL-MEASUREMENT-PERIOD 200MS
[ N8-190.0.1.0 ] PHY-LTE-CELL-SELECTION-MIN-SERVING-DURATION 1S
[ N8-190.0.1.0 ] PHY-LTE-RX-SENSITIVITY -1000
[ N8-190.0.1.0 ] PHY-LTE-PATHLOSS-FILTER-COEFFICIENT 40
[ N8-190.0.1.0 ] PHY-LTE-INTERFERENCE-FILTER-COEFFICIENT 40
[ N8-190.0.1.0 ] PHY-LTE-CHANNEL-BANDWIDTH 10000000
[ N8-190.0.1.0 ] DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
[ N8-190.0.1.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-190.0.1.0 ] ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

[ N8-190.0.1.0 ] MAC-PROTOCOL MAC-LTE
[ N8-190.0.1.0 ] MAC-LTE-STATION-TYPE UE
[ N8-190.0.1.0 ] RRC-LTE-WAIT-RRC-CONNECTED-TIME 10MS
[ N8-190.0.1.0 ] RRC-LTE-WAIT-RRC-CONNECTED-RECONF-TIME 10MS
[ N8-190.0.1.0 ] MAC-LTE-UE-SCHEDULER-TYPE SIMPLE-SCHEDULER
[ N8-190.0.1.0 ] DUMMY-LTE-SPECIFY-MEASUREMENT-PARAMETERS YES
[ N8-190.0.1.0 ] RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRP 00100
[ N8-190.0.1.0 ] RRC-LTE-MEAS-OBSERVING-EVENT-MASK-RSRQ 00000
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A1-RSRP-TH 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A1-RSRP-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A1-RSRQ-TH 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A1-RSRQ-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A2-RSRP-TH 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A2-RSRP-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A2-RSRQ-TH 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A2-RSRQ-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A3-RSRP-OFF 5.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A3-RSRP-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A3-RSRQ-OFF 5.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A3-RSRQ-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A4-RSRP-TH 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A4-RSRP-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A4-RSRQ-TH 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A4-RSRQ-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A5-RSRP-TH1 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A5-RSRP-TH2 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A5-RSRP-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A5-RSRQ-TH1 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A5-RSRQ-TH2 10.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-EVENT-A5-RSRQ-HYS 1.0
[ N8-190.0.1.0 ] RRC-LTE-MEAS-TIME-TO-TRIGGER 400MS
[ N8-190.0.1.0 ] RRC-LTE-MEAS-REPORT-INTERVAL 1S
[ N8-190.0.1.0 ] RRC-LTE-MEAS-REPORT-AMOUNT 4
[ N8-190.0.1.0 ] RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRP 6
[ N8-190.0.1.0 ] RRC-LTE-MEAS-QUANTITY-CONFIG-FILTER-COEF-RSRQ 7
[ N8-190.0.1.0 ] RRC-LTE-MEAS-GAP-CONFIG-TYPE 1
[ N8-190.0.1.0 ] RRC-LTE-MEAS-GAP-CONFIG-OFFSET 0

#***********************NETWORK LAYER***********************************

[ N8-190.0.1.0 ] NETWORK-PROTOCOL IP
[ N8-190.0.1.0 ] IP-FRAGMENT-HOLD-TIME 15S



#**************************** [Link] ***********************************

LINK N8-190.0.3.0 { 6, 1 }
[ 190.0.3.6 190.0.3.1 ] DUMMY-GUI-SYMMETRIC-LINK YES

#********************Network Protocol***********************************

[ 190.0.3.6 190.0.3.1 ] NETWORK-PROTOCOL IP

#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[1] IP-ADDRESS[0]             190.0.2.1

[1] NETWORK-PROTOCOL[1]       IP
[1] IP-ADDRESS[1]             190.0.3.1

[2] NETWORK-PROTOCOL[0]       IP
[2] IP-ADDRESS[0]             190.0.2.2

[2] NETWORK-PROTOCOL[1]       IP
[2] IP-ADDRESS[1]             190.0.1.2

[3] NETWORK-PROTOCOL[0]       IP
[3] IP-ADDRESS[0]             190.0.2.3

[3] NETWORK-PROTOCOL[1]       IP
[3] IP-ADDRESS[1]             190.0.1.3

[4] NETWORK-PROTOCOL[0]       IP
[4] IP-ADDRESS[0]             190.0.1.4

[5] NETWORK-PROTOCOL[0]       IP
[5] IP-ADDRESS[0]             190.0.1.5

[6] NETWORK-PROTOCOL[0]       IP
[6] IP-ADDRESS[0]             190.0.3.6

[190.0.1.2 190.0.1.3] MAC-LTE-PF-FILTER-COEFFICIENT  36
[190.0.1.2 190.0.1.3] RLC-LTE-MAX-RETX-THRESHOLD  8
[190.0.2.1 190.0.3.1 190.0.2.2 190.0.1.2 190.0.2.3 190.0.1.3 190.0.1.4 190.0.1.5 190.0.3.6] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  150000
[190.0.1.2 190.0.1.3] MAC-LTE-STATION-TYPE  eNB
[190.0.1.2] PHY-LTE-UL-CHANNEL  1
[190.0.1.2 190.0.1.3] RLC-LTE-POLL-PDU  16
[190.0.1.3] PHY-LTE-UL-CHANNEL  3
[190.0.1.2 190.0.1.3] PHY-LTE-PUCCH-OVERHEAD  0
[190.0.1.2] PHY-LISTENABLE-CHANNELS  channel0,channel1
[190.0.1.2 190.0.1.3] MAC-LTE-MAX-HARQ-TX  4
[190.0.1.2 190.0.1.3] RLC-LTE-POLL-BYTE  250
[190.0.1.2 190.0.1.3] MAC-LTE-ENB-SCHEDULER-TYPE  ROUND-ROBIN
[190.0.1.2 190.0.1.3] PHY-LTE-TPC-ALPHA  1
[190.0.1.2 190.0.1.3] PHY-LTE-RA-DETECTION-THRESHOLD  -100
[190.0.1.2 190.0.1.3] RLC-LTE-T-STATUS-PROHIBIT  12MS
[190.0.3.1 190.0.3.6] IP-FRAGMENTATION-UNIT  2048
[190.0.2.1 190.0.3.1 190.0.2.2 190.0.1.2 190.0.2.3 190.0.1.3 190.0.1.4 190.0.1.5 190.0.3.6] IP-QUEUE-TYPE[0]  FIFO
[190.0.2.1 190.0.3.1 190.0.2.2 190.0.1.2 190.0.2.3 190.0.1.3 190.0.1.4 190.0.1.5 190.0.3.6] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  150000
[190.0.1.2 190.0.1.3] MAC-LTE-RA-BACKOFF-TIME  10MS
[190.0.1.2 190.0.1.3] RLC-LTE-T-POLL-RETRANSMIT  100MS
[190.0.1.2 190.0.1.3] DUMMY-PHY-LTE-STATION-TYPE  eNB
[190.0.1.2] PHY-LISTENING-CHANNELS  channel0,channel1
[190.0.1.2 190.0.1.3] PHY-LTE-CELL-SELECTION-RX-LEVEL-MIN-OFFSET  0
[190.0.3.1 190.0.3.6] LINK-MAC-PROTOCOL  ABSTRACT
[190.0.2.1 190.0.3.1 190.0.2.2 190.0.1.2 190.0.2.3 190.0.1.3 190.0.1.4 190.0.1.5 190.0.3.6] IP-QUEUE-TYPE[1]  FIFO
[190.0.1.2 190.0.1.3] PHY-LTE-CELL-SELECTION-QUAL-LEVEL-MIN-OFFSET  0
[190.0.2.1 190.0.2.2 190.0.2.3] LINK-BANDWIDTH  10000000
[190.0.1.2 190.0.1.3] MAC-LTE-RA-RESPONSE-WINDOW-SIZE  10
[190.0.1.2] PHY-LTE-DL-CHANNEL  0
[190.0.1.3] PHY-LTE-DL-CHANNEL  2
[190.0.1.2 190.0.1.3] PHY-LTE-TPC-P_O_PUSCH  -90
[190.0.1.2 190.0.1.3] RRC-LTE-MEAS-FILTER-COEFFICIENT  40
[190.0.1.3] PHY-LISTENABLE-CHANNELS  channel2,channel3
[190.0.1.2 190.0.1.3] MAC-LTE-RA-PREAMBLE-TRANS-MAX  4
[190.0.1.2 190.0.1.3] MAC-LTE-RA-POWER-RAMPING-STEP  2
[190.0.2.1 190.0.3.1 190.0.2.2 190.0.1.2 190.0.2.3 190.0.1.3 190.0.1.4 190.0.1.5 190.0.3.6] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  150000
[190.0.2.1 190.0.3.1 190.0.2.2 190.0.1.2 190.0.2.3 190.0.1.3 190.0.1.4 190.0.1.5 190.0.3.6] IP-QUEUE-TYPE[2]  FIFO
[190.0.1.2 190.0.1.3] MAC-LTE-RA-PRACH-CONFIG-INDEX  14
[190.0.1.2 190.0.1.3] MAC-LTE-PF-UL-RB-ALLOCATION-UNIT  1
[190.0.1.2 190.0.1.3] PHY-LTE-CELL-SELECTION-QUAL-LEVEL-MIN  -19.5
[190.0.2.1 190.0.2.2 190.0.2.3] LINK-PROPAGATION-DELAY  1MS
[190.0.1.2 190.0.1.3] PHY-LTE-CELL-SELECTION-RX-LEVEL-MIN  -140
[190.0.1.3] PHY-LISTENING-CHANNELS  channel2,channel3
[190.0.1.2 190.0.1.3] MAC-LTE-PERIODIC-BSR-TTI  1
[190.0.1.2 190.0.1.3] MAC-LTE-RA-PREAMBLE-INITIAL-RECEIVED-TARGET-POWER  -90
[190.0.1.2 190.0.1.3] MAC-LTE-TRANSMISSION-MODE  1
[190.0.1.2 190.0.1.3] RLC-LTE-T-REORDERING  100MS


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[4 5]           MOBILITY-POSITION-GRANULARITY 1.0
[1]             STATIC-ROUTE YES
[6]             STATIC-ROUTE YES
[4 5]           MOBILITY FILE
[1]             HOSTNAME SGWMME
[2]             HOSTNAME eNB1
[3]             HOSTNAME eNB2
[4]             HOSTNAME UE1
[5]             HOSTNAME UE2
[6]             HOSTNAME CN
[1 thru 6]      IP-FRAGMENT-HOLD-TIME 15S
[1 thru 6]      ROUTING-PROTOCOL NONE
[1 thru 6]      NODE-PLACEMENT FILE
[1]             STATIC-ROUTE-FILE two_UEs_handover_1.routes-static
[6]             STATIC-ROUTE-FILE two_UEs_handover_1.routes-static
NODE-POSITION-FILE two_UEs_handover_1.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE two_UEs_handover_1.display

