# General

VERSION					6.1
EXPERIMENT-NAME				dted-hla
SIMULATION-TIME				2M
SEED					1

# Terrain

COORDINATE-SYSTEM			LATLONALT
TERRAIN-SOUTH-WEST-CORNER		( -12,  105 )
TERRAIN-NORTH-EAST-CORNER		( -11,  106 )
TERRAIN-DATA-BOUNDARY-CHECK		YES
#Added for DTED config
TERRAIN-DATA-TYPE DTED
DTED-FILENAME s12e105.dt0

# Devices

ROUTER-MODEL-CONFIG-FILE		dted.router-models

# Node positions

NODE-PLACEMENT				FILE
NODE-POSITION-FILE			dted.nodes

# Mobility

MOBILITY				NONE
MOBILITY-POSITION-GRANULARITY		5.0
MOBILITY-GROUND-NODE			NO

# Propagation

PROPAGATION-CHANNEL-FREQUENCY 300000000
PROPAGATION-MODEL STATISTICAL
# Signals with powers below PROPAGATION-LIMIT (in dBm) (before the antenna gain at the receiver) are not delivered.
PROPAGATION-LIMIT -111.0
PROPAGATION-PATHLOSS-MODEL ITM
# Longest interval to sample elevation values for terrain-based path loss models
PROPAGATION-SAMPLING-DISTANCE 100.0
PROPAGATION-REFRACTIVITY 360
PROPAGATION-CONDUCTIVITY 0.005
PROPAGATION-PERMITTIVITY 15
PROPAGATION-HUMIDITY 10.0
PROPAGATION-CLIMATE 7
ANTENNA-POLARIZATION VERTICAL
PROPAGATION-FADING-MODEL NONE

# Physical

PHY-MODEL				PHY802.11b
PHY-RX-MODEL				PHY802.11b

PHY802.11-AUTO-RATE-FALLBACK		NO
PHY802.11-DATA-RATE			2000000
PHY802.11-DATA-RATE-FOR-BROADCAST	2000000
PHY802.11-TX-POWER-1MBPS		15.0
PHY802.11-TX-POWER-2MBPS		15.0
PHY802.11-TX-POWER-5.5MBPS		15.0
PHY802.11-TX-POWER-11MBPS		15.0
PHY802.11-RX-SENSITIVITY-1MBPS	-93.0
PHY802.11-RX-SENSITIVITY-2MBPS	-89.0
PHY802.11-RX-SENSITIVITY-5.5MBPS	-87.0
PHY802.11-RX-SENSITIVITY-11MBPS	-83.0

ANTENNA-MODEL				OMNIDIRECTIONAL
ANTENNA-HEIGHT				1.5
ANTENNA-GAIN				0.0
ANTENNA-EFFICIENCY			0.8
ANTENNA-MISMATCH-LOSS			0.3
ANTENNA-CABLE-LOSS			0.0
ANTENNA-CONNECTION-LOSS			0.2

PHY-TEMPERATURE				290
PHY-NOISE-FACTOR			7.0

# Data-link / MAC

MAC-PROTOCOL   MACDOT11

# Network

NETWORK-PROTOCOL			IP
IP-QUEUE-NUM-PRIORITIES			3
IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE	5000000
IP-QUEUE-PRIORITY-QUEUE-SIZE		5000000
IP-QUEUE-TYPE				FIFO
IP-QUEUE-SCHEDULER			STRICT-PRIORITY

# Routing

# Transport

TCP					LITE
TCP-MSS					512
TCP-SEND-BUFFER				16384
TCP-RECEIVE-BUFFER			16384
TCP-USE-RFC1323				NO
TCP-DELAY-ACKS				YES
TCP-DELAY-SHORT-PACKETS-ACKS		NO
TCP-USE-NAGLE-ALGORITHM			YES
TCP-USE-KEEPALIVE-PROBES		YES
TCP-USE-PUSH				YES


# Tracing

PACKET-TRACE				NO

# Statistics

APPLICATION-STATISTICS			YES
TCP-STATISTICS				YES
UDP-STATISTICS				YES
ROUTING-STATISTICS			YES
ICMP-STATISTICS				NO
IGMP-STATISTICS				NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS	YES
NETWORK-LAYER-STATISTICS		YES
QUEUE-STATISTICS			YES
SCHEDULER-STATISTICS			YES
MAC-LAYER-STATISTICS			YES
PHY-LAYER-STATISTICS			YES
MOBILITY-STATISTICS			YES
MPLS-STATISTICS				NO
RSVP-STATISTICS				NO
SRM-STATISTICS				NO
DIFFSERV-EDGE-ROUTER-STATISTICS		NO
QOSPF-STATISTICS			NO
ACCESS-LIST-STATISTICS			NO
H323-STATISTICS				NO
GSM-STATISTICS				NO

# Networks

SUBNET N8-60.1.0.0 { 1, 2, 3 } Default
[N8-60.1.0.0] PHY-LISTENABLE-CHANNEL-MASK	1
[N8-60.1.0.0] PHY-LISTENING-CHANNEL-MASK	1
[N8-60.1.0.0] ROUTER-MODEL			PLATOON-RADIO
[2] NODE-ICON					../graphics/TankAqua.gif
[3] NODE-ICON					../graphics/TankAqua.gif

VRLINK                             YES
VRLINK-PROTOCOL                    DIS
VRLINK-ENTITIES-FILE-PATH          dted.vrlink-entities
VRLINK-RADIOS-FILE-PATH		       dted.vrlink-radios
VRLINK-NETWORKS-FILE-PATH		   dted.vrlink-networks
VRLINK-DEBUG-PRINT-COMMS           YES
VRLINK-DEBUG-PRINT-COMMS-2         YES
VRLINK-DEBUG-PRINT-MAPPING         YES
VRLINK-DEBUG-PRINT-DAMAGE          YES
VRLINK-DEBUG-PRINT-TX-STATE        YES
VRLINK-DEBUG-PRINT-TX-POWER        YES
VRLINK-DEBUG-PRINT-MOBILITY        YES
VRLINK-DEBUG-PRINT-TRANSMITTER-PDU NO
VRLINK-DEBUG-PRINT-PDUS            NO
VRLINK-RECEIVE-DELAY               20MS
VRLINK-MAX-RECEIVE-DURATION        5MS
VRLINK-MOBILITY-INTERVAL           50MS
VRLINK-XYZ-EPSILON                 0.577
VRLINK-DIS-IP-ADDRESS              127.255.255.255

# GUI

COMPONENT 0 {H1 H2 H3} 3 -11.500000 105.500000 1400.0 1.000000 1.000000 3200.0

