# ***** QualNet Configuration File *****


#********************General Settings***********************************

VERSION 15.07
EXPERIMENT-NAME hierarchy-dis
EXPERIMENT-COMMENT None
SIMULATION-TIME 30S
SEED 1

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO

#*******************ATM Configuration***********************************

DUMMY-ATM-LOGICAL-SUBNET-CONFIGURED NO
ATM-STATIC-ROUTE NO

#******************Dynamic Parameters***********************************

DYNAMIC-ENABLED NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM LATLONALT
TERRAIN-SOUTH-WEST-CORNER ( -0.120320308, -0.0511225995 )
TERRAIN-NORTH-EAST-CORNER ( 0.119679692, 0.0488774005 )
DUMMY-ALTITUDES (1500, 0)
DUMMY-ENABLE-URBAN-TERRAIN-FEATURE NO
WEATHER-MOBILITY-INTERVAL 100MS

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-FREQUENCY[0] 3000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
NODE-POSITION-FILE hierarchy.nodes
MOBILITY NONE

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS YES
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS YES
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
RSVP-STATISTICS NO
SRM-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
MOBILITY-STATISTICS YES
SIGNALLING-STATISTICS NO
ADAPTATION-LAYER-STATISTICS NO
ATM-LAYER2-STATISTICS NO
ATM-SCHEDULER-STATISTICS YES
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#******************Supplemental Files***********************************

ROUTER-MODEL-CONFIG-FILE hierarchy.router-models

VRLINK                             YES
VRLINK-PROTOCOL                    DIS
VRLINK-ENTITIES-FILE-PATH          hierarchy.vrlink-entities
VRLINK-RADIOS-FILE-PATH		       hierarchy.vrlink-radios
VRLINK-NETWORKS-FILE-PATH		   hierarchy.vrlink-networks
VRLINK-DEBUG-PRINT-COMMS           YES
VRLINK-DEBUG-PRINT-COMMS-2         YES
VRLINK-DEBUG-PRINT-MAPPING         YES
VRLINK-DEBUG-PRINT-DAMAGE          YES
VRLINK-DEBUG-PRINT-TX-STATE        YES
VRLINK-DEBUG-PRINT-TX-POWER        YES
VRLINK-DEBUG-PRINT-MOBILITY        YES
VRLINK-DEBUG-PRINT-TRANSMITTER-PDU NO
VRLINK-DEBUG-PRINT-PDUS            NO
VRLINK-RECEIVE-DELAY               20MS
VRLINK-MAX-RECEIVE-DURATION        5MS
VRLINK-MOBILITY-INTERVAL           50MS
VRLINK-XYZ-EPSILON                 0.577
VRLINK-DIS-IP-ADDRESS              127.255.255.255

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNEL-MASK 1
PHY-LISTENING-CHANNEL-MASK 1
PHY-MODEL PHY802.11b
PHY802.11-USE-LEGACY-802.11b YES
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-RX-SENSITIVITY-1MBPS -94.0
PHY802.11-RX-SENSITIVITY-2MBPS -91.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -87.0
PHY802.11-RX-SENSITIVITY-11MBPS -83.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-MODEL OMNIDIRECTIONAL
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-TX-FREQUENCY 13170000000
LINK-RX-FREQUENCY 13170000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD  15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
QUEUE-WEIGHT 0
IP-QUEUE-TYPE FIFO

#*******************QoS Configuration***********************************


#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED
DUMMY-PARAM NO

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP NO
IPv6-ENABLE-6to4-TUNNELING NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
HSRP-PROTOCOL NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP LITE
TCP-USE-RFC1323 NO
TCP-DELAY-SHORT-PACKETS-ACKS NO
TCP-USE-NAGLE-ALGORITHM YES
TCP-USE-KEEPALIVE-PROBES YES
TCP-USE-OPTIONS YES
TCP-DELAY-ACKS YES
TCP-MSS 512
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO

#***********************USER BEHAVIOR***********************************

DUMMY-UBEE-ENABLED NO

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M

#***************** [Wireless Subnet] ***********************************

SUBNET N8-60.1.0.0 {1 thru 4} -0.000320307 -0.000448864 0

#**********************Physical Layer***********************************

[ N8-60.1.0.0 ] PHY-LISTENABLE-CHANNEL-MASK[0] 1
[ N8-60.1.0.0 ] PHY-LISTENING-CHANNEL-MASK[0] 1
[ N8-60.1.0.0 ] PHY-MODEL PHY802.11b
[ N8-60.1.0.0 ] PHY802.11-USE-LEGACY-802.11b YES
[ N8-60.1.0.0 ] PHY802.11-AUTO-RATE-FALLBACK NO
[ N8-60.1.0.0 ] PHY802.11-DATA-RATE 2000000
[ N8-60.1.0.0 ] PHY802.11-TX-POWER-1MBPS 65.0
[ N8-60.1.0.0 ] PHY802.11-TX-POWER-2MBPS 65.0
[ N8-60.1.0.0 ] PHY802.11-TX-POWER-5.5MBPS 65.0
[ N8-60.1.0.0 ] PHY802.11-TX-POWER-11MBPS 65.0
[ N8-60.1.0.0 ] PHY802.11-RX-SENSITIVITY-1MBPS -93.0
[ N8-60.1.0.0 ] PHY802.11-RX-SENSITIVITY-2MBPS -89.0
[ N8-60.1.0.0 ] PHY802.11-RX-SENSITIVITY-5.5MBPS -87.0
[ N8-60.1.0.0 ] PHY802.11-RX-SENSITIVITY-11MBPS -83.0
[ N8-60.1.0.0 ] PHY-RX-MODEL PHY802.11b
[ N8-60.1.0.0 ] ANTENNA-GAIN 0.0
[ N8-60.1.0.0 ] ANTENNA-HEIGHT 1.5
[ N8-60.1.0.0 ] ANTENNA-EFFICIENCY 0.8
[ N8-60.1.0.0 ] ANTENNA-MISMATCH-LOSS 0.3
[ N8-60.1.0.0 ] ANTENNA-CABLE-LOSS 0.0
[ N8-60.1.0.0 ] ANTENNA-CONNECTION-LOSS 0.2
[ N8-60.1.0.0 ] ANTENNA-MODEL OMNIDIRECTIONAL
[ N8-60.1.0.0 ] PHY-TEMPERATURE 290
[ N8-60.1.0.0 ] PHY-NOISE-FACTOR 7.0

#***********************NETWORK LAYER***********************************

[ N8-60.1.0.0 ] NETWORK-PROTOCOL IP

#************************ROUTER MODEL***********************************

[ N8-60.1.0.0 ] DUMMY-ROUTER-TYPE USER-SPECIFIED



#********* [Default Wireless Subnet] ***********************************


#*************Interface Configuration***********************************


[1] NETWORK-PROTOCOL[0]       IP

[1] IP-SUBNET-MASK[0]         255.255.255.0
[1] IP-ADDRESS[0]             60.1.0.1

[2] NETWORK-PROTOCOL[0]       IP

[2] IP-SUBNET-MASK[0]         255.255.255.0
[2] IP-ADDRESS[0]             60.1.0.2

[3] NETWORK-PROTOCOL[0]       IP

[3] IP-SUBNET-MASK[0]         255.255.255.0
[3] IP-ADDRESS[0]             60.1.0.4

[4] NETWORK-PROTOCOL[0]       IP

[4] IP-SUBNET-MASK[0]         255.255.255.0
[4] IP-ADDRESS[0]             60.1.0.3
[60.1.0.1 60.1.0.2 60.1.0.4 60.1.0.3] IP-QUEUE-TYPE[0]  FIFO
[60.1.0.1 60.1.0.2 60.1.0.4 60.1.0.3] IP-QUEUE-TYPE[1]  FIFO
[60.1.0.1 60.1.0.2 60.1.0.4 60.1.0.3] IP-QUEUE-TYPE[2]  FIFO


#*************Hierarchy Configuration***********************************

COMPONENT 1 {1 2 3 4 N8-60.1.0.0 } 5 -0.000248291 -0.00052088 0 0.24 0.1 3000 GUI-NODE-2D-ICON="hierarchy.png"  GUI-NODE-3D-ICON="armybase.3ds" HOSTNAME=

#******************Node Configuration***********************************


[1 thru 4]      AODV-NODE-TRAVERSAL-TIME 40MS
[1 thru 4]      IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 5000000
[1 thru 4]      NODE-PLACEMENT FILE
[1 thru 4]      AODV-RREQ-RETRIES 2
[1 thru 4]      NETWORK-PROTOCOL IP
[1 thru 4]      IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 5000000
[1 thru 4]      AODV-NET-DIAMETER 35
[1 thru 4]      AODV-PROCESS-HELLO NO
[1 thru 4]      AODV-TTL-START 1
[1 thru 4]      AODV-TTL-INCREMENT 2
[1 thru 4]      AODV-LOCAL-REPAIR NO
[1 thru 4]      IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 5000000
[1 thru 4]      AODV-BUFFER-MAX-BYTE 0
[1 thru 4]      AODV-SEARCH-BETTER-ROUTE NO
[1 thru 4]      AODV-DEST-ONLY-NODE NO
[1 thru 4]      AODV-ACTIVE-ROUTE-TIMEOUT 3S
[1 thru 4]      AODV-ROUTE-DELETION-CONSTANT 5
[1 thru 4]      IP-LOOPBACK-ADDRESS 127.0.0.1
[1 thru 4]      ROUTING-PROTOCOL AODV
[1]             HOSTNAME "M1A2 1"
[2]             HOSTNAME "M1A2 2"
[3]             HOSTNAME "M1A2 3"
[4]             HOSTNAME "M1A2 4"
[1 thru 4]      DUMMY-ROUTER-TYPE USER-SPECIFIED
[1 thru 4]      AODV-OPEN-BI-DIRECTIONAL-CONNECTION NO
[1 thru 4]      AODV-PROCESS-ACK NO
[1 thru 4]      AODV-TTL-THRESHOLD 7
[1 thru 4]      IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 5000000
[1 thru 4]      IP-ENABLE-LOOPBACK YES
[1 thru 4]      AODV-BUFFER-MAX-PACKET 100
[1 thru 4]      ROUTER-MODEL HIGH-POWER-802.11b

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE hierarchy.display

